body {
    width: 100%;
}

.align_right {
    text-align: right;
}

.clickable {
    cursor: pointer;
}

.middle {
    vertical-align: middle;
}

.title {
    color: #005088;
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 24px;
}