<div ng-controller="HomeController" ng-init="initHome()">
    <div class="title">BibleThumpers.com</div>

    <div class="col-md-12">
        <select ng-model="selection.book"
                ng-change="updateChapters(selection.book)"
                ng-options="book.name as book.displayName for book in bibleBookNames">
        </select>

        <select ng-model="selection.chapter"
                ng-change="loadChapter(selection.book, selection.chapter)"
                ng-options="chapter as chapter for chapter in chapters">
        </select>

        <i ng-class="'clickable middle fa fa-2x fa-toggle-' + (listMode ? 'on' : 'off')"
           ng-click="listMode = !listMode"></i>

        <span style="float: right; margin-right: 50px">
            <input ng-model="searchText" type="text" size="60" class="search_field">
            <button ng-click="search(searchText)" class="search_button">Search</button>
        </span>
    </div>

    <div ng-show="errors" ng-repeat="error in errors" style="margin-top: 32px">
        <span style="color: #ff0000; font-weight: bold">{{ error }}</span>
    </div>

    <div class="col-md-12" style="margin-top: 16px; margin-right: 32px;">
        <div ng-show="listMode" ng-repeat="verse in verses">
            <i ng-class="'clickable middle fa fa-bookmark-o'"></i>
            <span ng-class="isSelected(verse) ? 'selected_verse' : 'verse_number'"><sup>{{ verse.verse }}</sup></span>
            <span ng-class="isSelected(verse) ? 'selected_text' : 'verse_text'">{{ verse.text }}</span>
        </div>
        <span ng-hide="listMode" ng-repeat="verse in verses">
            <span ng-class="isSelected(verse) ? 'selected_verse' : 'verse_number'"><sup>{{ verse.verse }}</sup></span>
            <span ng-class="isSelected(verse) ? 'selected_text' : 'verse_text'">{{ verse.text }}</span>
        </span>
    </div>

</div>